html{
    font-size: 10px;
}

*,body{
    padding: 0%;
    margin: 0;
}

#darkmodebody{
    position: relative;
    background-color: #eee;
    transition: all 1s;
}

.toggle__darkmode {
    position: absolute;
    top:4%;
    left:93%;
    transform: translate(4%,-93%);
    z-index: 1000;
}

#checkbox1{
    display: none;
}

.toggle__darkmode--background{
    background-color: #e2aeae;
    border: 2px solid black;
    border-radius: 10rem;
    position: absolute;
    top: -0.21rem;
    left: 1.3rem;    
    z-index: -1;
    height: 5rem;
    width: 8rem;
}   

.toggle__darkmode--label{
    z-index: 2000;
    font-size: 1.5rem;
    color: black;
    position: absolute;
    top: 0.5rem;
    left: 3.4rem;
}

@media screen and (max-width: 1400px){
    .toggle__darkmode--background{
        height: 2.5rem;
        width: 5rem;
        left: -2rem;
        padding: 1.5rem;
    }
    .toggle__darkmode--label{
        font-size: 1rem;
        left: -0.6rem;
        top: .35rem;
    }
}
